# ========================
# Build (Maven / Gradle)
# ========================
/target/
/build/

# ========================
# IDEs
# ========================

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# ========================
# Sistema Operacional
# ========================
.DS_Store
Thumbs.db

# ========================
# Arquivos de ambiente/local
# ========================
.env
.env.*
application-local.properties
application-local.yml

# ========================
# Banco de dados local (H2)
# ========================
*.mv.db
*.trace.db

# ========================
# Logs adicionais
# ========================
logs/
*.out

# ========================
# Cache / temp
# ========================
tmp/
temp/